@model IEnumerable<BKM.Models.TheLoai>
@{
    if (Session["nguoiDung"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    { Layout = "~/Views/Shared/_UserLayout.cshtml"; }
}

<html>
<head>
    <meta charset="utf-8">
    <title>Thể loại</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="bai-hat-tuan">
                <div class="tile">
                    <div><a href="#">Thể loại <i class="glyphicon glyphicon-chevron-right"></i></a></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <a href="@Url.Action("Details","TheLoai",new { id = 1 })">
                                <img class="img-responsive" src="~/IMAGE/theloai-clasical.jpg"></a>
                            <div class="overlay">Classical</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <a href="@Url.Action("Details","TheLoai",new { id = 2 })">
                            <img class="img-responsive" src="~/IMAGE/theloai-contry.jpg"></a>
                            <div class="overlay">Conuntry</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <a href="@Url.Action("Details","TheLoai",new { id = 3 })">
                            <img class="img-responsive" src="~/IMAGE/theloai-elec.jpg"></a>
                            <div class="overlay">Electronic</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <a href="@Url.Action("Details","TheLoai",new { id = 4 })">
                            <img class="img-responsive" src="~/IMAGE/theloai-indie.jpg"></a>
                            <div class="overlay">Indie</div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <a href="@Url.Action("Details","TheLoai",new { id = 5 })">
                            <img class="img-responsive" src="~/IMAGE/theloai-jazz.jpg"></a>
                            <div class="overlay">Jazz</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <a href="@Url.Action("Details","TheLoai",new { id = 6 })">
                            <img class="img-responsive" src="~/IMAGE/theloai-pop.jpg"></a>
                            <div class="overlay">Pop</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <a href="@Url.Action("Details","TheLoai",new { id = 7 })">
                            <img class="img-responsive" src="~/IMAGE/theloai-RB.jpg"></a>
                            <div class="overlay">R&B</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="hovereffect">
                            <a href="@Url.Action("Details","TheLoai",new { id = 8 })">
                            <img class="img-responsive" src="~/IMAGE/theloai-rock.jpg"></a>
                            <div class="overlay">Rock</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


</body>
</html>



@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTheLoai)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTheLoai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaTheLoai }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaTheLoai }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaTheLoai })
            </td>
        </tr>
    }

    </table>*@
