@model BKM.Models.BaiHat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BaiHat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhuVuc.TenKhuVuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuVuc.TenKhuVuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenBaiHat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBaiHat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaCaSi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCaSi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.File)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBaiHat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
