@model BKM.Models.BaiHat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.TenBaiHat</h4> 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KhuVuc.TenKhuVuc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KhuVuc.TenKhuVuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TheLoai.TenTheLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenBaiHat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenBaiHat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>
        <dd>
            <audio src="@Url.Content("~/SONG/"+Model.File)" controls type="audio/mp3"></audio>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditDetailBaiHat", new { id = Model.MaBaiHat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
