@model IEnumerable<BKM.Models.BaiHat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KhuVuc.TenKhuVuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheLoai.TenTheLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenBaiHat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KhuVuc.TenKhuVuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenBaiHat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            <img src="@Url.Content("~/IMAGE/"+item.HinhAnh)" style="height:200px;width:200px;" />
        </td>
        <td>
            <img src="@Url.Content("~/SONG/"+item.File)" style="height:200px;width:200px;" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBaiHat }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBaiHat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBaiHat })
        </td>
    </tr>
}

</table>
