@model BKM.Models.NhacCaNhan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NhacCaNhan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaiHat.TenBaiHat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiHat.TenBaiHat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.TenHienThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.TenHienThi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
