@model IEnumerable<BKM.Models.KhuVuc>

@{
    ViewBag.Title = "Index";
    if (Session["nguoiDung"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    { Layout = "~/Views/Shared/_UserLayout.cshtml"; }
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenKhuVuc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenKhuVuc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKhuVuc }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKhuVuc }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKhuVuc })
        </td>
    </tr>
}

</table>
