@using BKM.Models
@model IEnumerable<BKM.Models.KhuVuc>

@{
    ViewBag.Title = "Index";
    if (Session["nguoiDung"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    { Layout = "~/Views/Shared/_UserLayout.cshtml"; }
    List<BaiHat> baiHatVN = ViewBag.BaiHatVN;
    List<BaiHat> baiHatUS = ViewBag.BaiHatUS;
    List<BaiHat> baiHatHQ = ViewBag.BaiHatHQ;
}

<head>
    <meta charset="utf-8">
    <title>Nghệ Sĩ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css">
</head>


<div class="container">
    <hr>
    <div class="nghesi-menu">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <button class="tablink" id="defaultOpen" onclick="openPage('vietnam', this, 'black')" style="width:100%">VIỆT NAM</button>
                        </div>
                <div class="col-md-3">
                        <button class="tablink" onclick="openPage('aumi', this, 'black')" style="width:100%">HÀN QUỐC</button>
                    </div>
                <div class="col-md-3">
                        <button class="tablink" onclick="openPage('hanquoc', this, 'black')" style="width:100%">ÂU MỸ</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="nghesi-VN tancontent1" id="vietnam">
        @{for (int i = 0; i < baiHatVN.Count/4 + 1; i++)
            {
                int j = 4 * i;
                int cnt = 0;
        <div class="row">
            @while (j!=baiHatVN.Count-1 && cnt < 4)
            {
                j++;
            <div class="col-md-3 col-lg-3 col-xs-6">
                <div class="fff">
                    <div class="nghesi-icon">
                        <div class="hovereffect-nghesi">
                            <a href="@Url.Action("NgheNhac", "NgheNhac", new { id = baiHatVN[j].MaBaiHat })">
                                <img src="@Url.Content("~/IMAGE/" + baiHatVN[j].HinhAnh)">
                            </a>
                        </div>
                    </div>
                    <div class="nghesi-name">
                        <a href="@Url.Action("NgheNhac", "NgheNhac", new { id = baiHatVN[j].MaBaiHat })">
                            <h4>@baiHatVN[j].TenBaiHat</h4>
                        </a>
                    </div>
                </div>
            </div><!--Bài hát VN-->
                cnt++;
            }
        </div>
                }
            }
</div>

    <div class="nghesi-HQ tancontent1" id="hanquoc">
        @{for (int i = 0; i < baiHatHQ.Count / 4 + 1; i++)
            {
                int j = 4 * i;
                int cnt = 0;
                <div class="row">
                    @while (j != baiHatHQ.Count - 1 && cnt < 4)
                    {
                        j++;
                        <div class="col-md-3 col-lg-3 col-xs-6">
                            <div class="fff">
                                <div class="nghesi-icon">
                                    <div class="hovereffect-nghesi">
                                        <a href="@Url.Action("NgheNhac", "NgheNhac", new { id = baiHatHQ[j].MaBaiHat })">
                                            <img src="@Url.Content("~/IMAGE/" + baiHatHQ[j].HinhAnh)">
                                        </a>
                                    </div>
                                </div>
                                <div class="nghesi-name">
                                    <a href="@Url.Action("NgheNhac", "NgheNhac", new { id = baiHatHQ[j].MaBaiHat })">
                                        <h4>@baiHatHQ[j].TenBaiHat</h4>
                                    </a>
                                </div>
                            </div>
                        </div><!--Bài hát VN-->
                        cnt++;
                    }
                </div>
            }
        }
    </div>

    <div class="nghesi-USUK tancontent1" id="aumi">
        @{for (int i = 0; i < baiHatUS.Count / 4 + 1; i++)
            {
                int j = 4 * i;
                int cnt = 0;
                <div class="row">
                    @while (j != baiHatUS.Count - 1 && cnt < 4)
                    {
                        j++;
                        <div class="col-md-3 col-lg-3 col-xs-6">
                            <div class="fff">
                                <div class="nghesi-icon">
                                    <div class="hovereffect-nghesi">
                                        <a href="@Url.Action("NgheNhac", "NgheNhac", new { id = baiHatUS[j].MaBaiHat })">
                                            <img src="@Url.Content("~/IMAGE/" + baiHatUS[j].HinhAnh)">
                                        </a>
                                    </div>
                                </div>
                                <div class="nghesi-name">
                                    <a href="@Url.Action("NgheNhac", "NgheNhac", new { id = baiHatUS[j].MaBaiHat })">
                                        <h4>@baiHatUS[j].TenBaiHat</h4>
                                    </a>
                                </div>
                            </div>
                        </div><!--Bài hát VN-->
                        cnt++;
                    }
                </div>
            }
        }
    </div>
    <script>
            function openPage(pageName, elmnt, color) {
                var i, tancontent1, tablinks;
                tancontent1 = document.getElementsByClassName("tancontent1");
                for (i = 0; i < tancontent1.length; i++) {
                    tancontent1[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                }
                document.getElementById(pageName).style.display = "block";
                elmnt.style.backgroundColor = color;
        }
        document.getElementById("defaultOpen").click();
        </script>
    </div>


@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhuVuc)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhuVuc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaKhuVuc }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaKhuVuc }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaKhuVuc })
            </td>
        </tr>
    }

    </table>*@
