@using BKM.Models
@model BKM.Models.KhuVuc
    @{ 
        List<BaiHat> baiHatVN = ViewBag.BaiHatVN;
        List<BaiHat> baiHatUS = ViewBag.BaiHatUS;
        List<BaiHat> baiHatHQ = ViewBag.BaiHatHQ;
    }
<html>
<head>
    <meta charset="utf-8">
    <title>Nghệ Sĩ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">
        <hr>
        <div class="nghesi-menu">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <li><a href="#">TẤT CẢ</a></li>
                    </div>
                    <div class="col-md-2">
                        <li><a href="#VN">VIỆT NAM</a></li>
                    </div>
                    <div class="col-md-2">
                        <li><a href="#HQ">HÀN QUỐC</a></li>
                    </div>
                    <div class="col-md-2">
                        <li><a href="#USUK">ÂU MỸ</a></li>
                    </div>
                </div>
            </div>
        </div>
        <div class="nghesi-VN" id="VN">
            <div class="row">
                <div class="tile">
                    <a href="#">VIỆT NAM <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
                @{foreach (var item in baiHatVN)
                    {
                        <div class="col-md-3 col-lg-3 col-xs-6">
                            <div class="fff">
                                <div class="nghesi-icon">
                                    <div class="hovereffect-nghesi">
                                        <a href="@Url.Action("NgheNhac","NgheNhac",item.MaBaiHat)">
                                        <img src="@Url.Content("~/IMAGE/"+item.DetailBaiHat.BaiHat)">
                                        </a>
                                    </div>
                                </div>
                                <div class="nghesi-name">
                                    <a href="@Url.Action("Details","CaSi",item.DetailBaiHat.MaCaSi)"><h4>@item.DetailBaiHat.CaSi.TenCaSi</h4></a>
                                </div>
                            </div>
                        </div>
                    }
                }                              
            </div>
        </div>

        <div class="nghesi-HQ" id="HQ">
            <div class="row">
                <div class="tile">
                    <a href="#">HÀN QUỐC <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
                @{foreach (var item in baiHatHQ)
                    {
                        <div class="col-md-3 col-lg-3 col-xs-6">
                            <div class="fff">
                                <div class="nghesi-icon">
                                    <div class="hovereffect-nghesi">
                                        <a href="@Url.Action("NgheNhac","NgheNhac",item.MaBaiHat)">
                                            <img src="@Url.Content("~/IMAGE/"+item.DetailBaiHat.BaiHat)">
                                        </a>
                                    </div>
                                </div>
                                <div class="nghesi-name">
                                    <a href="@Url.Action("Details","CaSi",item.DetailBaiHat.MaCaSi)"><h4>@item.DetailBaiHat.CaSi.TenCaSi</h4></a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="nghesi-USUK" id="USUK">
            <div class="row">
                <div class="tile">
                    <a href="#">ÂU MỸ<i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>                 
                    @{foreach (var item in baiHatUS)
                        {
                            <div class="col-md-3 col-lg-3 col-xs-6">
                                <div class="fff">
                                    <div class="nghesi-icon">
                                        <div class="hovereffect-nghesi">
                                            <a href="@Url.Action("NgheNhac","NgheNhac",item.MaBaiHat)">
                                                <img src="@Url.Content("~/IMAGE/"+item.DetailBaiHat.BaiHat)">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="nghesi-name">
                                        <a href="@Url.Action("Details","CaSi",item.DetailBaiHat.MaCaSi)"><h4>@item.DetailBaiHat.CaSi.TenCaSi</h4></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>

    </div>
</body>
</html>

